@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
body {
  background:#AE70FC;
}
#forcolor{
  font-family: Space Mono, monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.205em;
  color:  #8839FF;
}
#cont{
  background-color: rgb(34, 33, 33);
  
}
#forcolor {
  font-family: Space Mono, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.205em;
    color: #8839FF;
}

nav .navbar-nav li a{
  color: white !important;
  text-align: center;
  text-decoration: none!important;
  transition: all 0.4s;
  font-family: 'Lora', serif;
  font-size:17.5px;
  font-weight: 600;
}
nav .navbar-nav li a:hover{
  background-color: #8839FF;
}

#btncol{
  text-align: center;
  font-weight: bolder;
  padding: 3px 10px;
  background: linear-gradient(180deg, #8629FD 0%, #A76CF2 100%);
  transition: box-shadow 0.4s;
}

#btncol:hover{
  color:#E5E5E5;
  background: linear-gradient(180deg, #7000FF 0%, #954EF0 100%);
  box-shadow: 1px 1px 2px rgba(238, 225, 255, 0.5);
}
.interestcontainer {
    display: none;
    
}

h1, h5{
  font-family: 'Lora', serif;
	font-weight: bolder;
}

li a{
  color: #060608;
}

li a:hover{
  color:  #060608 !important;
}
.navbar-toggler{
  outline: none!important;
}
.btn {
  border-radius: 0 .25rem .25rem 0;
}
.form-control{
  border-radius: .25rem 0  0 .25rem ;
}
#joinchat {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bolder;
  padding: 9px 25px;
  background: linear-gradient(180deg, #8629FD 0%, #A76CF2 100%);
  border-radius: 50px;
  transition: box-shadow 0.4s;
  border: 2px #fff;
}

#joinchat:hover{
  color:#E5E5E5;
  background: linear-gradient(180deg, #7000FF 0%, #954EF0 100%);
  box-shadow: 1px 1px 2px rgba(238, 225, 255, 0.5); 
}
.card-deck{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,320px)) ;
  column-gap: 18px;
  row-gap: 18px;
  margin: 0;
}
.card-text {
margin-right: 20px;
display: inline-block;
position: absolute;
bottom:0;
right:0;
}
.card-body {
  padding: 1rem 1rem 0.5rem 1rem;
}

.card{
  background-color: #EEE1FF;
  border-radius: 25px;
  border-color: #E5E5E5;
  margin: 0!important;
  padding: 0;

}
.hide{
    display: none!important;
}
#image{
width: 20%;
}
