@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    background:url('https://toppng.com/uploads/preview/night-city-city-lights-aerial-view-buildings-architecture-night-11570143320dsfqunblbr.jpg');
    margin:0;
    padding:0;
    font-family: Arial;
    font-size:12px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
    }
    
  h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }
 
  .login {
    margin:0 auto;
    max-width:500px;
  }
  .login-header {
    color:#fff;
    text-align:center;
    font-size:300%;
    font-family:'Exo', sans-serif;
    padding-top: 100px;
  }
  /* .login-header h1 {
     text-shadow: 0px 5px 15px #000; */
  }
  .login-form {
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
  }
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login input[type="text"],
  .login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
    background:transparent;
    color:rgb(255,255,255);
  }
  .login-form input[type="button"] {
    background:transparent;
    border:2px solid #f2f2f2;
    border-radius:5px;
    color: rgb(255,255,255);
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform:uppercase;
    cursor:pointer;
    width: 83%;
    height:45px;
    margin:1em 2em;
    padding-left:10px;
  }
  .login input[type=button]:hover{
    opacity: 0.8;
    background-color:rgba(255,255,255,0.4);
    }
    
  ::-webkit-input-placeholder{
    color: rgb(255,255,255);
 }
 
 ::-moz-input-placeholder{
    color: rgb(255,255,255);
 }
  
  
 